.givensatagmenu{
	margin-left:-35px;
	width:1060px;
	padding-top:10px;
	/*border: 1px solid #c0c0c0;*/	

}

.givensatagmenu li{
	margin: 5px 5px 5px 5px;
	
	display:inline;
	list-style:none;

	padding:5px 5px 5px 5px;

}
.givensatagmenu li a{
    text-decoration: none;
    color: #000;
  	
    font: normal 12px/120% Verdana,Arial,sans-serif;
  
}


.tagmenuitem{
    text-decoration: none;
    color: #000;
    background: #fff;
    font: normal 12px/120% Verdana,Arial,sans-serif;
    border: 1px solid #4f2d7e;
    
    padding: 6px;
	
	-webkit-box-shadow: 0px 0px 3px 1px #b1b1b1;
	-moz-box-shadow: 0px 0px 3px 1px #b1b1b1;
	-ms-box-shadow:  0px 0px 3px 1px #b1b1b1;
	-o-box-shadow: 0px 0px 3px 1px #b1b1b1;
	box-shadow: 1px 1px 2px 0px #b1b1b1;
	
	-webkit-border-radius:6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}
.tagmenuitem a:hover{
 
    background: #eaeaea;
 	margin:-5px;
    padding: 5px;
	
	-webkit-border-radius:6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}
.tagmenuitemselected{
	text-decoration: none;
    color: #000;
    background-color: #eaeaea;
    font: normal 12px/120% Verdana,Arial,sans-serif;
    border: 1px solid #4f2d7e;
    
    padding: 6px;
	
	-webkit-box-shadow: 0px 0px 3px 1px #b1b1b1;
	-moz-box-shadow: 0px 0px 3px 1px #b1b1b1;
	-ms-box-shadow:  0px 0px 3px 1px #b1b1b1;
	-o-box-shadow: 0px 0px 3px 1px #b1b1b1;
	box-shadow: 1px 1px 2px 0px #b1b1b1;
	
	-webkit-border-radius:6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}